.input-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.input-row input {
    height: 50px;
    background-color: var(--gark-1-gray);
    color: var(--lightest-gray);
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
}

.input-row .error-msg{
    color: var(--error-color);
    font-size: 13px;
    margin-top: 5px;
}

.input-row label {
    color: var(--lightest-gray);
    margin-bottom: 5px;
    font-size: 18px;
}

.input-row:has(input:focus) label {
    top: -25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--gark-1-gray) inset !important;
    -webkit-text-fill-color: var(--lightest-gray) !important;
    font-size: 16px;
}


.input-row button {

}


.btn {
    height: 50px;
    background-color: var(--lightest-gray);
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: bold;
    border: solid 1px var(--lightest-gray);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: var(--light-gray);
        border-color: var(--light-gray);
        color: var(--lightest-gray);
    }
}

.btn.green {
    background-color: var(--green-light);
    border-color: var(--green);
    color: var(--gark-1-gray);

    &:hover {
        background-color: var(--green-lightest);
        border-color: var(--green-light);
        color: var(--dark-gray);
    }
}

.btn.icon-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn.icon-btn img {
    height: 30px;
}

.link {
    color: var(--green-lightest);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: inline-flex;

    &:hover:after {
        width: 100%;
    }

    &:after {
        transition: all .3s;
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        width: 0;
        border-bottom: solid 1px var(--green-lightest);
    }
}

.text-rl-lines {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--light-gray);
    margin: 30px 0;
}

.text-rl-lines span:not(:nth-child(2)) {
    flex: 1;
    height: 2px;
    background: #252a2c;
    border-bottom: solid 1px var(--light-gray);
}
