.input-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.input-row input,
.input-row select {
    height: 50px;
    background-color: var(--gark-1-gray);
    color: var(--lightest-gray);
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
}

.input-row select,
select {
    appearance: none;
    background-image: url("./assets/icons/chevron-down.svg");
    background-repeat: no-repeat;
    padding-right: 25px;
    background-position: right 10px center;
    background-size: 16px;
}

.input-row .error-msg {
    color: var(--error-color);
    font-size: 13px;
    margin-top: 5px;
}

.input-row label {
    color: var(--lightest-gray);
    margin-bottom: 5px;
    font-size: 18px;
}

.input-row:has(input:focus) label {
    top: -25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--gark-1-gray) inset !important;
    -webkit-text-fill-color: var(--lightest-gray) !important;
    font-size: 16px;
}


.input-row button {

}


.btn {
    outline: none !important;
    height: 50px;
    background-color: var(--lightest-gray);
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: bold;
    border: solid 1px var(--lightest-gray);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 20px;

    &:hover {
        background-color: var(--light-gray);
        border-color: var(--light-gray);
        color: var(--lightest-gray);
    }
}

.btn.rounded {
    border-radius: 25px;
}

.btn:disabled {
    opacity: 0.7;
    cursor: no-drop;
}

.btn.green {
    background-color: var(--green-light);
    border-color: var(--green);
    color: var(--gark-1-gray);

    &:hover {
        background-color: var(--green-lightest);
        border-color: var(--green-light);
        color: var(--dark-gray);
    }
}

.btn.icon-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn.icon-btn img {
    height: 30px;
}

.link {
    color: var(--green-lightest);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: inline-flex;

    &:hover:after {
        width: 100%;
    }

    &:after {
        transition: all .3s;
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        width: 0;
        border-bottom: solid 1px var(--green-lightest);
    }
}

.link.forgot {
    display: inline-flex;
    width: auto;
    margin-top: 5px;
}

.text-rl-lines {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--light-gray);
    margin: 30px 0;
}

.text-rl-lines span:not(:nth-child(2)) {
    flex: 1;
    height: 2px;
    background: #252a2c;
    border-bottom: solid 1px var(--light-gray);
}


.alert {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--dark-gray);
    border: solid 1px var(--light-gray);
    margin-bottom: 10px;
}

.alert svg {
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    margin-left: auto;
    cursor: pointer;
}

.alert.success {
    background-color: var(--green-lightest);
    color: var(--green-darkest);
    border: solid 1px var(--green-light);
}

.alert.danger {
    background-color: var(--error-lightest-color);
    color: var(--error-color);
    border: solid 1px var(--error-light-color);
}

.alert.warning {
    background-color: var(--warn-lightest-color);
    color: var(--warn-color);
    border: solid 1px var(--warn-light-color);
}

.container-title {
    color: var(--green-lightest);
}

.fields-container {
    margin-top: 30px;
    padding: 0 20px;
}

.fields-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    margin-top: 20px;
}

.fields-list .field-item {
    border: solid 1px var(--gray);
    /*height: calc(1080px / 3);*/
    border-radius: 10px;
    background-color: var(--dark-gray);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s;

    &:hover {
        box-shadow: 0px 0px 11px 0px rgba(35, 35, 35, 0.75);
        -webkit-box-shadow: 0px 0px 11px 0px rgba(35, 35, 35, 0.75);
        -moz-box-shadow: 0px 0px 11px 0px rgba(35, 35, 35, 0.75);

    }
}

.fields-list .field-item .field-collect {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: var(--light-gray-op);
}

.fields-list .field-item .field-collect button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fields-list .field-item.empty {
    background-image: url("/public/images/field-ground.png");
    background-size: calc(100% - 40px);
    background-position: center;
    background-repeat: no-repeat;
}


.fields-list .field-item .field-seed-new {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--green-dark-op);
}

.fields-list .field-item .field-item-icon {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1;
    transition: all .3s;
}

.fields-list .field-item .field-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    font-weight: bold;
    background-color: var(--dark-gray);
    color: var(--green-light);
    padding: 10px 15px;
    width: calc(100% - 60px);
    border: solid 1px var(--light-gray);
}

.fields-list .field-item .field-item-info .field-seed-status {
    margin-left: auto;
    color: var(--error-color);
    background-color: var(--error-lightest-color);
    font-size: 14px;
    padding: 3px 7px;
    border-radius: 15px;
}

.fields-list .field-item .field-item-info .field-seed-progress {

    background-color: var(--green-light);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0.3;
}


@media (max-width: 600px) {
    .fields-list {
        grid-template-columns: 1fr !important;
    }

    .fields-list .field-item {
        height: calc(100vw - 50px) !important;
    }
}