
.admin-wrapper {
    position: relative;
}

.admin-header {
    height: 50px;
    border-bottom: solid 1px var(--gray);
}

.admin-sidebar {
    position: absolute;
    left: 0;
    top: 50px;
    width: 200px;
    height: calc(100vh - 50px);
    background-color: var(--gark-1-gray);
}